form{
    font-size : x-large;
    color : black;
    font-weight : bolder;
}
input{
    width : 200px;
    height : 20px;
    font-size : medium;
}
select{
    width : 100px;
    height : 20px;
}
.button{
    background-color: paleturquoise;
    width : 150px;
    height : 30px;
    float : none;
}